
.new_card_box {
    margin-bottom: 10px;
    padding: 1px;
    /* height: fit-content;
    width: fit-content; */
    max-width: 450px;
    max-height: 450px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.609), rgba(207, 157, 47, 0.815));
    box-shadow:  4px 6px  rgba(46, 139, 69, 0.596);
    border: solid black 2px;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
}

.new_image {
    height:150px;
    width:150px;
    margin: 0 auto;
    /* height: fit-content;
    width: fit-content; */
    /* max-width: 300px;
    max-height: 300px; */
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    border: solid black 1px; 

}

.new_card_title {
    font-size: 18;
}
